- if defined? bg_kaleidoscope
  .container-fluid{style: 'position: fixed; height: 100%; width: 100%; top: 0; left: 0'}
    %canvas{id: 'kaleidoscope', style: 'overflow: hidden; z-index: 0'}
    %script{src: '/kaleidoscope.js', type: 'text/javascript'}

.container{style: 'color: white; padding-top: 10%'}
  .row
    .col-md-6.col-md-offset-3{style: 'text-align: center; border-radius: 5px; background-color: rgba(0,0,0,0.7); padding-bottom: 2%; padding-top: 1%'}
      %h1.page-header We've never seen anything like that.
      It seems like we can't find the page you're looking for. Perhaps you spelled something wrong?
