.row
  .col-md-6.col-md-offset-3
    %h1.page-header We've never seen anything like that.
.row
  .col-md-6.col-md-offset-3
    It seems like we can't find the page you're looking for. Perhaps you spelled something wrong?
-# Some psychedelic/LSD-like art would be cool