%svg{xmlns: "http://www.w3.org/2000/svg", width: 90, height: 20}
  %rect{rx: 2, width: 90, height: 20, "stroke-width" => 0, fill: "grey"}
  %rect{x: 37.5, rx: 2, width: 52.5, height: 20, "stroke-width" => 0, fill: "#{build.status == :success ? '#4cc' : '#f58'}"}
  %path{fill: "#{build.status == :success ? '#4cc' : '#f58'}", d: "M37.5 0 h4v20h-4z"}
  %g{fill: "#fff", "text-anchor" => "middle", "font-family" => "Helvetica", "font-size" => 11}
    %svg{x: 1, y: 5, width: 11, height: 11, viewBox: "0 0 1792 1792", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M896 1152q0-36-20-69-1-1-15.5-22.5t-25.5-38-25-44-21-50.5q-4-16-21-16t-21 16q-7 23-21 50.5t-25 44-25.5 38-15.5 22.5q-20 33-20 69 0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5zm512-128q0 212-150 362t-362 150-362-150-150-362q0-145 81-275 6-9 62.5-90.5t101-151 99.5-178 83-201.5q9-30 34-47t51-17 51.5 17 33.5 47q28 93 83 201.5t99.5 178 101 151 62.5 90.5q81 127 81 275z", fill: "#fff"}
    %text{x: 23, y: 15, fill: "#010101", "fill-opacity" => 0.3} build
    %text{x: 23, y: 14} build
    %text{x: 63.5, y: 15, fill: "#010101", "fill-opacity" => 0.3}= build.status == :success ? 'succeeds' : 'fails'
    %text{x: 63.5, y: 14}= build.status == :success ? 'succeeds' : 'fails'